@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {

    font-family: 'Joan', serif;
}

.logo {
    cursor: pointer;
}

.navigation a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.navigation a:not(:last-child){
    margin-right: 30px;
}

.navigation a:hover{
    background: white;
}

.info-btn{
    color: black;
    background: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.info-btn:hover{
    background: rgb(248, 227, 189);
}

.carousel-item {
    height: 611px;
    min-height: 300px;
}

.carousel-caption {
    bottom: 190px;
}

.carousel-caption h5 {
    font-size: 41px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 100%;
    text-align: left;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

/*more info button */
.carousel-caption a {
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    background: #262626;
    padding: 5px 15px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

.carousel-inner .media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.media a{
    position: relative;
    color: #111;
    font-size: 25px;
    
}

.media a:not(:last-child){
    margin-right: 60px;
}

.media a:hover{
    transform: scale(1.25);
}


@media only screen and (max-width: 767px) {
    .navbar-nav.ml-auto {
        background: rgba(0, 0, 0, 0);
    }

    .navbar-nav a {
        font-size: 14px;
        font-weight: normal;
    }
}